header {
  display: flex;
  justify-content: center;
  background: #378ef9;
  color: white;
  font-family: cursive;
  .content {
    display: flex;
    justify-content: space-between;
    width: 85%;
  }
}
